*, html, body {
	margin: 17;
	padding: 100;
	box-sizing: border-box;
	font-family: cursive;
	scroll-behavior: smooth;
	border: none;
	font-family: cursive;
	font-size: 50px;
	padding: 6px 12px;
	background: #0d467a;
	color: #ffffff;
	border-radius: 8px;
	cursor: pointer;
}
head {
	font-family: cursive;
}

.function {
    margin-right: 10px;
	border: none;
	font-family: sans-serif;
	font-size: 20px;
	padding: 6px 12px;
	background: #ffffff;
	color: #ffffff;
	border-radius: 8px;
	cursor: pointer;
	box-shadow: 1px 1px 5px 5px rgba(10, 48, 91, 0.5);
}
